{% load i18n %}
{% autoescape off %}
  {% blocktranslate %}
    Сброс пароля на {{ site_name }}.
  {% endblocktranslate %}
  {% translate 'Ваш логин:' %} {{ user.get_username }}
  {% translate "Перейдите по ссылке и установите новый пароль:" %}
  {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'auth:password-reset-confirm' uidb64=uid token=token %}
  {% endblock %}
  {% blocktranslate %}
    Спасибо за использование нашего сайта!
    The {{ site_name }} team
  {% endblocktranslate %}
{% endautoescape %}